<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AwsSsh.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <AwsSsh.Properties.Settings>
            <setting name="AWSAccessKey" serializeAs="String">
                <value>Put your access key here</value>
            </setting>
            <setting name="AWSSecretKey" serializeAs="String">
                <value>Put your secret key here</value>
            </setting>
            <setting name="ServiceUrl" serializeAs="String">
                <value>https://us-east-1.ec2.amazonaws.com</value>
            </setting>
            <setting name="CloseOnConnect" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DefaultUser" serializeAs="String">
                <value>ubuntu</value>
            </setting>
            <setting name="CommandLineArgs" serializeAs="String">
                <value />
            </setting>
            <setting name="PuttyPath" serializeAs="String">
                <value>C:\putty.exe</value>
            </setting>
            <setting name="KeyPath" serializeAs="String">
                <value>C:\certificate.ppk</value>
            </setting>
            <setting name="UpdateInterval" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="IsFirstTimeConfiguration" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="NeedsUpgrade" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowPuttyButton" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IncludePuttySessionsInList" serializeAs="String">
                <value>True</value>
            </setting>
        </AwsSsh.Properties.Settings>
    </userSettings>
</configuration>